$color-light-gray-primary: #EBEBEB;
$color-orange-primary: #F0552E;
$color-white-primary: #ffffff;
$color-black-primary: #000000;
$color-gray-primary: #999999;

$color-tangerine-secondary: rgba(240, 85, 46, 0.7);
$color-sky-blue-secondary: rgba(118, 188, 227, 0.7);
$color-yellow-secondary: rgba(255, 168, 0, 0.7);
$color-brown-secondary: rgba(133, 45, 23, 0.7);
$color-gray-secondary: rgba(26, 26, 26, 0.7);

$font-size-display: 60px;
$font-size-heading-1: 20px;
$font-size-heading-2: 16px;
$font-size-body-base: 14px;
$font-size-body-small: 12px;

$font-size-display-mobile: 50px;
$font-size-heading-1-mobile: 18px;
$font-size-heading-2-mobile: 14px;
$font-size-body-base-mobile: 12px;
$font-size-body-small-mobile: 10px;

$query-border: 768px;